@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #2b0f54, #0d0018);
    color: #fff;
}

.container {
    padding: 2rem 7rem;
    border-radius: 14px;
    background: #1a0033;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid #6a0dad;
}

.result_field {
    margin-top: 2rem;
}

.result_images {
    display: flex;
    column-gap: 7rem;
}

.container.start .user_result {
    transform-origin: left;
    animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
    50% {
        transform: rotate(10deg);
    }
}

.container.start .cpu_result {
    transform-origin: right;
    animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
    50% {
        transform: rotate(-10deg);
    }
}

.result_images img {
    width: 100px;
    filter: drop-shadow(0 0 10px #6a0dad);
}

.user_result img {
    transform: rotate(90deg);
}

.cpu_result img {
    transform: rotate(-90deg) rotateY(180deg);
}

.result {
    text-align: center;
    font-size: 2rem;
    color: #6a0dad;
    margin-top: 1.5rem;
    text-shadow: 0 0 2px #ff00ff;
}

.option_image img {
    width: 50px;
    filter: drop-shadow(0 0 5px #6a0dad);
}

.option_images {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
}

.container.start .option_images {
    pointer-events: none;
}

.option_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.option_image:hover {
    opacity: 1;
}

.option_image.active {
    opacity: 1;
}

.option_image img {
    pointer-events: none;
}

.option_image p {
    color: #6a0dad;
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
}

.scores-div {
    padding: 2rem 3rem;
    border-radius: 20px;
    background-color: #300032;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid #6a0dad;
}

ul {
    height: 8vh;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.scores p {
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0 0 10px #ff00ff;
}
